{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "no-restricted-syntax": 0,
    "arrow-parens": 0,
    "import/prefer-default-export": 0,
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 8,
      }
    ]
  }
}