.mainCell {
  width: 20px;
  height: 20px;
  border: 1px solid fuchsia;
}
.cell {
  composes: mainCell;
}

.filledCell {
  composes: mainCell;
  background-color: #122112;
}

.headStyle {
  composes: mainCell;
  background-color: red;
}

.eatableCell {
  composes: mainCell;
  background-color: greenyellow;
}
